# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Build outputs
build
*.tsbuildinfo

Cyber_OT_pcap/

.claude

CLAUDE.md

Wise Auto Investigation.txt

Wise Auto-investigation Product Requirements Document (1).md
